spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    u.taskmanager: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor: TRACE
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cache: DEBUG

management:
  endpoint:
    health:
      show-details: always